/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Rowdies:wght@700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}